#parse("base.html")
#@mainLayout()
<main class="home">
    <div class="container">
        <canvas id="fractal_canvas"></canvas>
         <button class="btn btn-icon resize"><i class="fas fa-expand"></i></button>
          <button class="btn btn-icon update"><i class="fas fa-redo"></i></button>
        <span id="loading" class="loading"><i class="fas fa-spinner fa-pulse"></i></span>
        <div class="navigation">
            <div class="move">
                <button class="btn btn-icon left"><i class="fas fa-caret-left"></i></button>
                <button class="btn btn-icon up"><i class="fas fa-caret-up"></i></button>
                <button class="btn btn-icon down"><i class="fas fa-caret-down"></i></button>
                <button class="btn btn-icon right"><i class="fas fa-caret-right"></i></button>
            </div>
            <div class="zoom">
                 <button class="btn btn-icon zoomIn"><i class="fas fa-search-plus"></i></button>
          <button class="btn btn-icon zoomOut"><i class="fas fa-search-minus"></i></button>
            </div>
        </div>
    </div>

    <aside>
        <h1>Fractal</h1>
        <p>Une figure fractale est un objet mathématique qui présente une structure similaire à toutes les échelles. C'est un objet géométrique « infiniment morcelé » dont des détails sont observables à une échelle arbitrairement choisie.</p>
        <div class="radio-wrapper">
            <div class="card-radio">
                <input type="radio" name="select" id="mandelbrot" checked>
                <label for="mandelbrot" class="card">
                    Mandelbrot
                </label>
            </div>

            <div class="card-radio">
                <input type="radio" name="select" id="julia" >
                <label for="julia" class="card">
                    Julia
                </label>
            </div>
            <button class="btn w-100"><i class="fas fa-images"></i> Exporter l'image</button>
        </div>
    </aside>
    <footer></footer>
    <script src="/js/script.js"></script>
</main>
#end
